@use "./scss/color.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ui.button.btn-action {
  background-color: color.$action !important;
  color: color.$font-light !important;
  border-color: color.$action !important;
}
.ui.button.btn-danger {
  background-color: color.$danger !important;
  color: color.$font-light !important;
  border-color: color.$danger !important;
}
